<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harry's Dance Academy</title>
    <link rel="stylesheet" href="../static/style1.css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <div id="logo"><img src="../static/logoo.jpg" alt="" srcset=""></div>
            <li><a href="/home">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Class Info</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
        <div id="name">
            <h4>HRA</h4>
        </div>
    </nav>
    <div id="introsection">
        |Welcome To Harry's Dance Academy
        <div class="small">Eat Sleep Dance Repeat</div>
    </div>
    <div id="missionsection">
        <h3>Our Mission</h3>
        <div class="card">
            <h3>Dance perfection</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="../static/1.png" alt="" srcset="">

                </div>
                <div class="card-content">
                    <p> This is the best dance academy of the universe</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Dance the way you like</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="../static/2.png" alt="" srcset="">

                </div>
                <div class="card-content">
                    <p> This is the best dance academy of the universe</p>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Expectation Teaching</h3>
            <div class="card-box">
                <div class="card-img">
                    <img src="../static/3.png" alt="" srcset="">

                </div>
                <div class="card-content">
                    <p> This is the best dance academy of the universe</p>
                </div>
            </div>
        </div>
    </div>
    <div id="sponsorsection">
        <p> Our Sponsor's</p>
        <div id="sponsor">
            <a href="https://www.apple.in"><img src="../static/logo1.png" alt="" class="logo1"></a>
            <a href="https://www.microsoftindia.com"><img src="../static/logo2.png" alt="" class="logo2"></a>
            <a href="https://www.hp.com"><img src="../static/logo3.png" alt="" class="logo3"></a>
            <a href="https://www.skype.com"><img src="../static/logo4.png" alt="" class="logo4"></a>
        </div>
    </div>
    <footer>
        |Copyright &copy; 2023 HarryDanceAcademy.com 
    </footer>
</body>

</html>